p { 
    color:green;
} 
img { 
    width:300px;
} 
h1 { 
    font-family: Arial; 
    font-size: 24px;
    color:white; 
    background-color: red;
    padding: 5px; 
}
/* Add your styles here */
